@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Open+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8E0E0;
}

.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
}

.headingofbody {
    margin-top: 6vh;
    margin-bottom: 5vh;
    color: #FFB803;
    font-size: 80px;
    font-family: Ingrid Darling;
    font-weight: 400;
    word-wrap: break-word;
    filter: drop-shadow(3px 4px 4px rgba(0,0,0 , 25%));
}

.welcomeline{
    color: #FFB803;
    font-size: 40px;
    font-family: IM FELL Great Primer SC;
    font-weight: 400;
    word-wrap: break-word;
    width: 80vw;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 3px solid #FFB803;
    filter: drop-shadow(3px 4px 4px rgba(0,0,0 , 25%));
}

a{
    text-decoration: none;
    color: #FFB803;
    transition: all .3s;
}

a:hover{
    color: #bd8700;
}

.card{
    width: 80vw;
    background-color: #CFB4B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    overflow-x: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #B7A6A6;
}

.inputofgloabaldatadiv{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    color: #8B7E7E;
    font-size: 30px;
    font-family: sans-serif;
    align-items: center;
}

#useremail, #userpassword{
    width: 30vw;
    background-color: #CFB4B4;
    border: 5px solid #FFB803;
    margin-right: 20px;
    padding: 15px 20px;
    border-radius: 20px;
}

.btnofglobaldata{
    width: 50vw;
    padding: 15px 0px;
    background-color: #FFB803;
    height: 60px;
    color: #8B7E7E;
    font-size: 20px;
    font-family: Averia Serif Libre;
    font-weight: 700;
    word-wrap: break-word;
    border: none;
    border-radius: 15px;
    transition: all .4s;
}
.btnofglobaldata:hover{
    background-color: white;
}

.spanofor{
    color: #8B7E7E;
font-size: 20px;
font-family: Averia Serif Libre;
font-weight: 700;
word-wrap: break-word
}